div.nicetable tr:nth-child(even) {
 background: #f8f8f8;
}

div.nicetable table {
 display: block;
 width:100%;
 border: 0px
}

div.nicetable table thead th {
font-weight: bold;
background: #d3d3d3;
text-align: left;
}

div.nicetable tr, div.nicetable th,div.nicetable td {
padding: 0.4em;
}

img + em {
	display: block;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.2rem;
}




/* From bootstrap.min.css */
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}
a.label:focus,
a.label:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}
.label:empty {
    display: none
}
.btn .label {
    position: relative;
    top: -1px
}
.label-default {
    background-color: #777
}
.label-default[href]:focus,
.label-default[href]:hover {
    background-color: #5e5e5e
}
.label-primary {
    background-color: #337ab7
}
.label-primary[href]:focus,
.label-primary[href]:hover {
    background-color: #286090
}
.label-success {
    background-color: #5cb85c
}
.label-success[href]:focus,
.label-success[href]:hover {
    background-color: #449d44
}
.label-info {
    background-color: #5bc0de
}
.label-info[href]:focus,
.label-info[href]:hover {
    background-color: #31b0d5
}
.label-warning {
    background-color: #f0ad4e
}
.label-warning[href]:focus,
.label-warning[href]:hover {
    background-color: #ec971f
}
.label-danger {
    background-color: #d9534f
}
.label-danger[href]:focus,
.label-danger[href]:hover {
    background-color: #c9302c
}




/* From Tom Wilson */

/* Make text links in default and primary labels white */
.label-default > a, .label-primary > a {
    color: white;
	vertical-align: middle;
}

/* Make text links in default and primary labels white */
.label-default > a, .label-warning > a {
    color: white;
	vertical-align: middle;
}

/* Make text links in default and primary labels white */
.label-default > a, .label-success > a {
    color: white;
	vertical-align: middle;
}

.label-default > a, .label-info > a {
    color: white;
	vertical-align: middle;
}

a.fa {
    color: #337ab7;
}

a:visited.fa {
    color: #0645AD;
}